<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anasayfa</title>
</head>

<body>
    <h1 style="color:red"> Anasayfa</h1>
    <span>Kullanıcı bilgisi {{request.user}}</span> <br>

    {{request}}
<!--         
        {% if request.user.is_authenticated %}
        <p>cıkıs</p>
{% else %}
    <p>giris yap</p>
        {% endif %}
             -->


    {% if messages %}

    {% for message in messages %}
    <p style="color:cyan">{{message}}</p>
    {% endfor %}

    {% endif %}




</body>

</html>